*
{
    font-size:12px;
}
table
{
    margin:20px 10px;
    border:1px solid black;
    border-collapse:collapse;
}
th, td
{
    border:1px solid black;
    text-align:center;
    padding:10px;
}
.dogarea, .ownerarea, .coursearea
{
    display:flex;
}
form
{
    margin:20px 10px;
    
}
label
{
    margin:10px;
}
input
{
    margin:5px;
    padding:5px;
}
.input-group {
    display: flex;
    justify-content: center;
}
